@tailwind base;
@tailwind components;
@tailwind utilities;

body, form, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    font-family: "Lucida Console", Courier, monospace;
} 

.errorMessage {
    color: rgb(238, 67, 67);
}
